src/*/bin/*
src/*/obj/*
src/CursoIdiomas.API/appsettings.Development.json
src/CursoIdiomas.API/appsettings.json
docker/Logstash/env/*
/.vs
/obj/Debug/netcoreapp3.1
/tests/CursoIdiomas.API.Tests/bin/Debug/netcoreapp3.1
/tests/CursoIdiomas.API.Tests/obj
/tests/CursoIdiomas.Application.Tests/bin/Debug/netcoreapp3.1
/tests/CursoIdiomas.Application.Tests/obj
/tests/CursoIdiomas.Domain.Tests/bin/Debug/netcoreapp3.1
/tests/CursoIdiomas.Domain.Tests/obj
/tests/CursoIdiomas.Infra.Tests/bin/Debug/netcoreapp3.1
/tests/CursoIdiomas.Infra.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/tests/CursoIdiomas.Infra.Tests/obj
/tests/CursoIdiomas.Services.Tests/bin/Debug/netcoreapp3.1
/tests/CursoIdiomas.Services.Tests/obj
